# Ignore node_modules in both frontend and backend
kb_frontend/node_modules/
kb_backend/node_modules/

# Ignore build folder from React
kb_frontend/build/

# Ignore environment variables
kb_frontend/.env*
kb_backend/.env*

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# OS-specific
.DS_Store
